@page
@model CoreBakimUygulamasi.Pages.Kullanicilar.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/PAges/Shared/_Layout.cshtml";
}
<br />
<br />
<div>
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Kullanıcı Listesi</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-page="/Account/Register/" class="btn btn-info btn-sm">Kullanıcı Oluştur</a>
        </div>
    </div>
    <br />
    <div>
        @if (Model.UserListViewModel.ApplicationUsers.Count == 0)
        {
            <p>Herhangi bir Kullanıcı bulunamadı lütfen Kullanıcı oluştutunuz.</p>
        }
        else
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        Ad Soyad
                    </th>
                    <th>
                        Kullanıcı Adı
                    </th>
                    <th>
                        EMail
                    </th>
                    <th>İşlemler</th>
                </tr>
                @foreach (var item in Model.UserListViewModel.ApplicationUsers)
                {
            <tr>
                <td>
                    @Html.DisplayFor(a => item.NameSurname)
                </td>
                <td>
                    @Html.DisplayFor(a => item.UserName)
                </td>
                <td>
                @Html.DisplayFor(a => item.Email)
                </td>
                <td style="width:150px">
                    <div class="btn-group">
                        <a class="btn btn-primary btn-sm " asp-page="Edit" asp-route-Id="@item.Id">Düzenle</a>
                        <a class="btn btn-danger btn-sm " asp-page="Delete" asp-route-Id="@item.Id">Sil</a>
                    </div>
                </td>
            </tr>
                }
                <tr>
                    <td colspan="5"class="text-right">
                        <div page-model="@Model.UserListViewModel.pagingInfo"asp-action="Index"page-class="btn-border"page-class-normal="btn btn-light"page-class-selected="btn btn-info active"class="btn-group">

                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>
