@page
@model CoreBakimUygulamasi.Pages.Kullanicilar.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/PAges/Shared/_Layout.cshtml";
}
<form method="get" asp-page="Index">
<br />
<br />
<div>
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Kullanıcı Listesi</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-page="Register" class="btn btn-info btn-sm">Kullanıcı Oluştur</a>
        </div>
    </div>
    <br />
    <div>
        @if (Model.UserListViewModel.ApplicationUsers.Count == 0)
        {
            <p>Herhangi bir Kullanıcı bulunamadı lütfen Kullanıcı oluştutunuz.</p>
        }
        else
        {
            <div>
                <div style="height:60px"class="container">
                    <div class="row">
                        <div class="col-11">
                            <div class="row" style="padding-top:10px">
                                <div class="col-4">
                                    @Html.Editor("aramaNameSurname", new { htmlAttributes = new { @class = "form-control", placeHolder = "Ad Soyad" } })
                                </div>
                                <div class="col-4">
                                    @Html.Editor("aramaUserName", new { htmlAttributes = new { @class = "form-control", placeHolder = "Kullanıcı Adı" } })
                                </div>
                                <div class="col-4">
                                    @Html.Editor("aramaEmail", new { htmlAttributes = new { @class = "form-control", placeHolder = "E-Mail" } })
                                </div>
                            </div>

                        </div>
                        <div class="col1">
                            <div class="row" style="padding-top:10px; padding-right:15px;">
                                <button type="submit" name="submit" value="Ara" class="btn btn-info btn-sm form-control">Ara</button>
                            </div>
                        </div>

                    </div>
                
                </div>
            </div>
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        Ad Soyad
                    </th>
                    <th>
                        Kullanıcı Adı
                    </th>
                    <th>
                        EMail
                    </th>
                    <th></th>
                    <th>İşlemler</th>
                </tr>
                @foreach (var item in Model.UserListViewModel.ApplicationUsers)
                {
            <tr>
                <td>
                    @Html.DisplayFor(a => item.NameSurname)
                </td>
                <td>
                    @Html.DisplayFor(a => item.UserName)
                </td>
                <td>
                @Html.DisplayFor(a => item.Email)
                </td>
                <td>
                    <a asp-page="../Makineler/Index"asp-route-KullaniciId="@item.Id" style="text-decoration:none">Makineler</a>
                </td>
                <td style="width:150px">
                    <div class="btn-group">
                        <a class="btn btn-primary btn-sm " asp-page="Edit" asp-route-Id="@item.Id">Düzenle</a>
                        <a class="btn btn-danger btn-sm " asp-page="Delete" asp-route-Id="@item.Id">Sil</a>
                    </div>
                </td>
            </tr>
                }
                <tr>
                    <td colspan="5"class="text-right">
                        <div page-model="@Model.UserListViewModel.pagingInfo"asp-action="Index"page-class="btn-border"page-class-normal="btn btn-light"page-class-selected="btn btn-info active"class="btn-group">

                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>
    </form>